@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root{
    --yellow:#FCDD26;
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s cubic-bezier(.38,1.15,.7,1.12);
}

*::selection{
    background:#333;
    color:var(--yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

section{
    padding:1rem 5%;
}

/*-----header-----*/

header{
  width:100%;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem;
  position: relative;
}

#search-box{
  position: absolute;
  top:100%; left:0;
  width: 100%;
  display: flex;
  align-items: center;
  background:var(--yellow);
  padding:2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transform-origin: top;
  transform:scaleY(0);
  opacity: 0;
}

#search-box.active{
  transform:scaleY(1);
  opacity: 1;
}

#search-box #search{
  width:100%;
  padding:1rem;
  text-transform: none;
  font-size: 2rem;
}

#search-box #search::placeholder{
  text-transform: capitalize;
}

#search-box label{
  font-size: 3rem;
  color:#333;
  padding-left: 2rem;
  cursor: pointer;
}

header .logo{
  font-size: 2.5rem;
  color:#333;
}

header .logo i{
  transform:rotate(-65deg);
  color:var(--yellow);
}

header .navbar a{
  color:#333;
  font-size: 1.7rem;
  padding:0 1rem;
}

header .navbar a:hover{
  color:var(--yellow);
}

header .icons i, header .icons a{
  font-size: 2.5rem;
  color:#333;
  padding-left: 1.5rem;
  cursor: pointer;
}

header .icons i:hover, header .icons a:hover{
  color:var(--yellow);
}

.fa-times{
  transform:rotate(-360deg);
}

#menu{
  font-size: 3rem;
  color:#333;
  cursor: pointer;
  display: none;
}

header.sticky{
  position: fixed;
  top:0; left:0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  z-index: 1000;
}
/* fim da estização */

/*---fim header--- */




/* section #home */
.home{
    min-height: 75vh;
    background:url(imagens/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}


.home .content p{
    color:#000;
    font-size: 1.7rem;

}
/* ----fim section #home---- */







/* caixa de adoção de cachoro */


/* main */
main{
  display: flex;
    align-items: center;
    justify-content: center;
    
}

section #button{
    width: 280px;
}
section img{
  max-width: 400px;
  max-height: 240px;
  border-radius: 10px;
}
section .catalog {
  width: 100vw;
  padding: 100px;
  background-color: var(--yellow);
}

section .filter-card {
  width: 980px;
  height: 150px;
  background: var(--gray);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background: var(--yellow);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.search-button:hover {
  background: #dedede;
  color: #FFD70A;
}

.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}

title-wrapper-catalog h3{
  color:#333;
  font-size: 2rem;

}
title-wrapper-catalog p{
  color:#333;
  font-size: 2rem;

}

section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item {
  height: 400px;
  background: var(--gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  width: 300px;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card-content h3 {
  color: #000;
  
}
.card-content p{
  color: #000;
}


.card-item img {
  width: 85%;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}

.card-item button {
  width: 90%;
  padding: 15px 0px;
  border: none;
  background: var(--blue);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.card-item button:hover {
  background: #dedede;
  color: var(--blue);
}
/* ----fim main---- */




/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f4fafa;
    color: #222222;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0,0,0,0.05);
}





/* responsivo  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  #menu{
      display: block;
  }

  header .navbar{
      position: absolute;
      top:100%; left:0;
      width:100%;
      background:#fff;
      text-align: center;
      padding:2rem;
      z-index: 1000;
      border-top: .1rem solid rgba(0,0,0,.1);
      transform-origin: top;
      transform:scaleY(0);
      opacity: 0;
  }

  header .navbar a{
      font-size: 2rem;
      padding:1.5rem;
      display: block;
  }

  header .navbar.nav-toggle{
      transform:scaleY(1);
      opacity: 1;
  }

  section{
      padding:1rem 3%;
  }
}